In [1]:
import json
import os
import mysql.connector
import time

In [2]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="project"
)
mycursor = mydb.cursor()

In [99]:
sql = "select author_id from authors where location=''"
start = time.time()
mycursor.execute(sql)
myresult = mycursor.fetchall()
end = time.time()
print('Query time: ', end - start)

Query time:  0.020092010498046875

In [100]:
for x in myresult[:10]:
    print(x)

('100109393',)
('1001417',)
('100297896',)
('100373116',)
('1004172',)
('100426096',)
('100451391',)
('100452342',)
('100496192',)
('100504178',)

In [9]:
start = time.time()
sql = "select author_id, location from authors where location in \
        (select location from authors group by location having location != '' and count(*) > 1)"
mycursor.execute(sql)
myresult = mycursor.fetchall()
end = time.time()
print('Query time: ', end - start)

Query time:  0.01823282241821289

In [10]:
for x in myresult:
    print(x)

('100206368', 'Florida')
('100341260', 'San Francisco')
('101211748', 'Maryland')
('101685111', 'central texas')
('102190161', 'Flyover Country')
('102873', 'Ohio')
('103077752', 'TX')
('103743326', 'Chicago, IL')
('104068816', 'PA')
('104636197', 'Virginia')
('104685427', 'USA')
('104846736', 'Philadelphia')
('105321875', 'New England')
('105867065', 'los angeles')
('106033456', 'Colorado')
('106215523', 'USA')
('107282352', 'Gotham')
('108075579', 'Texas')
('108949760', 'Texas')
('109474136', 'Flyover Country, USA')
('109492580', 'America')
('110388309', 'Reno, NV')
('110556218', 'Reno, NV')
('110795490', 'Arizona')
('111204877', 'Colorado')
('111764185', 'Texas')
('112088690', 'houston')
('112572963', 'Earth')
('113858740', 'Gotham City, NY')
('114076874', 'Texas')
('114967240', 'Phoenix, az')
('115105449', 'The South')
('115689315', 'Colorado')
('116115207', 'Michigan')
('117696188', 'New England')
('117842441', 'Tampa, FL')
('118927454', 'Knoxville, TN')
('119201836', 'California')
('119451312', 'Texas')
('119493425', 'California')
('119775787', 'Washington')
('119878539', 'New York, NY')
('119888201', 'usa')
('120886674', 'California')
('121096816', 'Indiana')
('121362684', 'Colorado')
('121737480', 'USA')
('121767204', 'USA')
('122178437', 'Maryland')
('122302348', 'United States')
('122790872', 'USA')
('122953811', 'Gotham City, NY')
('123019159', 'Boston')
('123033356', 'New England')
('123470903', 'chicago')
('123619255', 'California')
('124173086', 'America')
('128198874', 'America')
('12888335', 'Oregon')
('129584943', 'texas')
('129808290', 'Denver, CO')
('1322910', 'Texas')
('135665298', 'gotham')
('135896620', 'Chicago Il')
('13613361', 'Houston, TX')
('137713764', 'Gotham City, NY')
('137872791', 'Earth')
('138525872', 'Houston')
('144047745', 'NC')
('144383316', 'USA')
('145421085', 'Gotham City, NY')
('146288079', 'New York, NY')
('146405162', 'Amarillo, Texas')
('146966879', 'America')
('147511231', 'New York, NY')
('148535273', 'honolulu')
('151417860', 'pennsylvania')
('152784024', 'Tampa, FL')
('153547474', 'Long Island, NY')
('155321424', 'USA')
('157260600', 'Earth')
('158648456', 'USA')
('159366689', 'Australia')
('1598538', 'Philadelphia')
('160234885', 'Texas')
('160296928', 'Idaho')
('161583014', 'Canada')
('162404126', 'Georgia')
('1631102', 'Chicago')
('163310003', 'USA')
('16340667', 'Florida')
('164325964', 'Texas')
('16441399', 'New Jersey')
('164609587', 'Texas')
('164931389', 'Florida')
('166177523', 'flyover country')
('166350617', 'USA')
('166540954', 'Amarillo, Texas')
('167253919', 'Arizona')
('16778652', 'Washington, DC')
('168261241', 'California')
('168751517', 'usa')
('172118955', 'America')
('176172451', 'Tampa, FL')
('179879914', 'Lone Star State')
('181272680', 'Australia')
('182942535', 'USA')
('183186500', 'USA')
('18330617', 'Washington, DC')
('184123183', 'Tennessee')
('185920841', 'New York, NY')
('18606671', 'Knoxville, TN')
('18889851', 'USA')
('188951185', 'State of Jefferson')
('18953675', 'America')
('191959666', 'USA')
('192929099', 'central Texas')
('195617007', 'Los Angeles')
('195765286', 'California')
('19790567', 'canada')
('198650545', 'New Jersey')
('199757361', 'Indiana')
('200331110', 'USA')
('200619078', 'Honolulu')
('201488263', 'NYC')
('20180097', 'Gotham City')
('20185608', 'Flyover Country, USA')
('20418267', 'Phoenix, AZ')
('20655770', 'Flyover country')
('207341966', 'Arizona')
('208325297', 'usa')
('2093197', 'Colorado')
('20960285', 'Northern California')
('210744089', 'California')
('210881417', 'Texas')
('211560240', 'Texas')
('212639757', 'PA')
('212658600', 'USA')
('213630211', 'USA')
('215937916', 'New jersey')
('216230973', 'NYC')
('216738739', 'Florida')
('219415856', 'US')
('22004537', 'Gotham City, NY')
('223723573', 'AZ')
('22732722', 'Planet Earth')
('229448017', 'Houston, TX')
('229562345', 'Michigan')
('230117116', 'Pennsylvania')
('23178759', 'Earth')
('232208082', 'Earth')
('233947', 'Los Angeles')
('237238255', 'Arizona')
('239009092', 'Oregon')
('23925624', 'Arizona')
('239392612', 'Tennessee')
('240210167', 'USA')
('240867788', 'Left Coast')
('24092457', 'Michigan')
('242208647', 'Left coast')
('244363355', 'USA')
('244500525', 'AZ')
('244939192', 'Texas')
('245851695', 'Earth')
('248404515', 'Arizona')
('2505306', 'Virginia')
('251499572', 'USA')
('253918392', 'Earth')
('256201053', 'TX')
('257498234', 'USA')
('257556237', 'texas')
('25905624', 'WASHINGTON, DC')
('260478314', 'Planet Earth')
('262031804', 'California')
('262226919', 'Planet Earth')
('264212506', 'NYC')
('266136681', 'Washington DC')
('267200776', 'Texas')
('267387949', 'America')
('268542229', 'Earth')
('2694982', 'USA')
('271642098', 'earth')
('274225610', 'Los Angeles')
('27714295', 'Earth')
('279581964', 'United States')
('28013433', 'USA')
('280593029', 'The South')
('281743557', 'Southern California')
('2832674', 'Texas')
('284187893', 'Here')
('285111863', 'Texas')
('285766716', 'USA')
('286544572', 'West Coast')
('286778817', 'United States of America')
('286998891', 'USA')
('287494', 'Portland, OR')
('287842809', 'PA')
('288321091', 'USA')
('288432140', 'Earth')
('290015093', 'flyover country')
('290837375', 'Texas')
('293389646', 'us')
('293535373', 'Missouri')
('293848792', 'United States of America')
('29404727', 'Earth')
('297369966', 'Boston')
('29828288', 'PA')
('301589', 'Indiana')
('30318486', 'Gotham City, NY')
('3055712', 'Texas')
('313593533', 'Usa')
('31468444', 'United States')
('31989990', 'United States')
('322854203', 'State of Jefferson')
('323852715', 'Georgia')
('324851491', 'USA')
('324946958', 'NYC')
('32968613', 'Washington DC')
('33055057', 'TEXAS')
('33390243', 'Planet Earth')
('3339402', 'Lone Star State')
('34120568', 'Los Angeles')
('34216578', 'California')
('34422439', 'Here')
('348354', 'California')
('35217872', 'Central Texas')
('35443823', 'Central Texas')
('358638', 'USA')
('36169634', 'NC')
('37012553', 'California')
('37288608', 'Los Angeles')
('39565364', 'Missouri')
('3964939', 'Texas')
('39837696', 'Ohio')
('400492', 'USA')
('40660686', 'The South')
('40703545', 'Idaho')
('41664277', 'Texas')
('42061486', 'Colorado')
('42332779', 'USA')
('42505543', 'Philadelphia')
('42525532', 'WASHINGTON')
('43000823', 'Gotham City, NY')
('45053014', 'Gotham City, NY')
('452122', 'Indiana')
('46679777', 'texas')
('46857031', 'USA')
('48036327', 'Michigan')
('48810270', 'usa')
('49734008', 'flyover country')
('49744963', 'USA')
('50051531', 'USA')
('501676', 'Canada')
('51494667', 'Denver, CO')
('52014087', 'United States')
('52403083', 'Texas')
('53065222', 'Los Angeles')
('53480516', 'Chicago IL')
('53570830', 'Here')
('54571103', 'Florida')
('55044570', 'Arizona')
('5537257', 'MAINE')
('55591482', 'Arizona')
('56059501', 'usa')
('5722024', 'Dallas, TX')
('57252890', 'Dallas, TX')
('57515491', 'Los Angeles')
('58891266', 'Southern California')
('58951162', 'Florida')
('61648296', 'Gotham City, NY')
('6185646', 'California')
('62303106', 'Texas')
('63045763', 'Ohio')
('63508562', 'Chicago, IL')
('667964', 'AZ')
('6886568', 'Gotham City')
('6915874', 'United States')
('6986570', 'Honolulu')
('70092167', 'Fort Wayne, IN')
('70494310', 'USA')
('72549523', 'Michigan')
('7273692', 'USA')
('73492766', 'Tampa, FL')
('7466368', 'Earth')
('7543522', 'Maine')
('75671217', 'Northern California')
('76244843', 'PA')
('77501725', 'America')
('79174913', 'Earth')
('79791732', 'USA')
('80385356', 'America')
('82435441', 'San Francisco')
('86064379', 'west coast')
('87286221', 'Washington, DC')
('88135433', 'USA')
('90809843', 'Florida')
('9185673', 'USA')
('93081727', 'michigan')
('95841146', 'Gotham City, NY')
('96074039', 'Missouri')
('96081551', 'Fort Wayne, IN')
('9631729', 'Chicago')
('96348671', 'Phoenix, AZ')
('96448623', 'USA')
('97133422', 'long island, ny')
('98135958', 'Portland, OR')
('98318373', 'Earth')
('98392230', 'America')
('98583587', 'Texas')
('99619658', 'Texas')
('99906892', 'Oregon')

In [103]:
start = time.time()
sql = "select distinct(authors.author_id), comments.message from authors inner join comments on authors.author_id = comments.author_id \
       where comments.message like '%assault%' or comments.message like '%violence%' and comments.message like '%bad%' \
       and authors.author_id != 'Unknown'"
mycursor.execute(sql)
myresult = mycursor.fetchall()
end = time.time()
print('Query time: ', end - start)

Query time:  0.1683349609375

In [105]:
for x in myresult[:5]:
    print(x)

('50979323', "<p>There was a reason why John McCain didn't want Trump at his funeral.  Why the last two Republican Presidents and the last two Republican presidential candidates didn't vote for Trump....he's a pathological liar, cheats on his wife with porn stars and hookers, and has torn this nation apart with his attacks on our Free Press and anyone who disagrees with him.   Kavanaugh sexually assaulted that woman, just like the man who appointed him to office...both sexual predators..</p>")
('275630443', '<p>Honey Badger, this stuff could literally start Civil War II. The corruption and political violence is just out of control.</p>')
('279011761', '<p>NOT sweating this! When the dust settles...WE WIN!..MARK MY WORDS!</p><p>In other news!....</p><p>Keith Ellison resigns from DNC post amid sexual assault claims!</p><p><a href="https://disq.us/url?url=https%3A%2F%2Fwww.washingtonexaminer.com%2Fnews%2Fkeith-ellison-resigns-from-dnc-post-amid-sexual-assault-claims%3A2HOkVIfZV1KvAtD1HQaIXm1XpQ0&amp;cuid=1290197" rel="nofollow noopener" title="https://www.washingtonexaminer.com/news/keith-ellison-resigns-from-dnc-post-amid-sexual-assault-claims">')
('44553314', '<p>Actually the civilian executive can fire the heads of the DOJ and FBI in a 24 hour rotating basis simply because he did not like their tie color.</p><p>The only thing unconstitutional is this assault on the elected civilian government of the United States by unelected would be nobility.</p><p>Keep it up and your all going to find out personally what happens to would-be Royalty on US Shores.</p><p>Trump was only the beginning.</p>')
('44553314', '<p>Oh?</p><p>I bet you did not even read the clause. Idiots like conway provide a mere pretense.</p><p>That is all that is required for todays malignant molecules to eject the peaceful transfer of power and assault a legitimately elected civilian government.  Pretense.</p><p>Where we are going?</p><p>You wont need anymore pretense.</p><p>There will be no turning back and when it howls all around you , there will come a time when you pray to god for someone as politically tame as Trump to hold of')

In [12]:
start = time.time()

sql = "select authors.author_id, authors.location, comments.message from authors \
        inner join comments on authors.author_id=comments.author_id where comments.message like '%bad%' \
        and authors.location in (select location from authors group by location having location != '' and count(*) > 1)"
mycursor.execute(sql)
myresult = mycursor.fetchall()
end = time.time()
print('Query time: ', end - start)

Query time:  0.3313741683959961

In [13]:
for x in myresult:
    print(x)

('20960285', 'Northern California', '<p>High steaks for Dems:</p><p>R.B.Ginsberg is out in January....Evidently, Feinstein knew her cancer<br> had returned even before Kavanaugh was brought up...Makes more sense <br>why they put him through the gauntlet and why the Dems are now trying so<br> desperately to rig the Senate mid term votes...</p><p><a href="https://disq.us/url?url=https%3A%2F%2Fwww.smobserved.com%2Fstory%2F2018%2F09%2F27%2Fpolitics%2Fjustice-ruth-bader-ginsburg-will-retire-from-the-us-supreme-court-in-january-2019%2F36')
('129584943', 'texas', '<p>There are a lot of bad things happening tonight for the dems , I would hate to be in that womens shoes when this shakes out</p>')
('129584943', 'texas', '<p>No, it is really bad ,, really bad for the dems</p>')
('49744963', 'USA', '<p>USA voting system is in shambles. No party should be gleeful as the corruption is bad for everyone.</p>')
('100206368', 'Florida', "<p>I haven't seen this reported anywhere but hope it is true...too bad it didn't happen 48 hours ago!</p>")
('50051531', 'USA', "<p>People keep saying not all Democrats are bad. Those people are ignoring reality. If you vote Democrat at this point, you're evil and void of morality. No more excuses. You can't have one party that plays by the rules and the other that does whatever the hell they want to win. Eventually this WILL come down to violence for this reason. If you think it won't, then you are ignoring all of human history.</p>")
('245851695', 'Earth', '<p>Scott won, deal with it....Gillum was a bad card that was exposed...</p>')
('232208082', 'Earth', '<p>So much voter fraud.    ....if people only knew how bad it is.</p>')
('2832674', 'Texas', '<p>FASCIST DISCUS has his name censored,  so we cant speak badly of him.</p>')
('288432140', 'Earth', "<p>And which party has 34 members of Congress with dual citizenship's? The Dems are as bad as the Repubs when it comes to kissing Israels arz!</p>")
('288432140', 'Earth', '<p>What do you think is going to happen with all these trillion dollar wars when young people start using drone based non lethal bio weapons! Very little mortality and no infrastructure damage. Gives you the ability to go in and kill just the bad guys.</p>')
('191959666', 'USA', "<p>Bad luck to you....LOL....Because that is what's coming....Democrat!!!...LOL...Trump has nothing lose by RAMMING America down your throats....Sucks to be you....</p>")

In [108]:
start = time.time()
sql = "select author_id, count(*) from comments group by author_id order by count(*) desc limit 10"
mycursor.execute(sql)
myresult = mycursor.fetchall()
end = time.time()
print('Query time: ', end - start)

Query time:  0.0221099853515625

In [109]:
for x in myresult:
    print(x)

('288536631', 246)
('150140509', 185)
('292842000', 176)
('294944884', 170)
('118923992', 151)
('233610691', 133)
('280239772', 131)
('324921053', 117)
('217404555', 107)
('322920136', 104)

In [110]:
start = time.time()
sql = "select author_id from authors where author_id not in \
       (select comments.author_id from comments where comments.parent_comment_id = 'None')"
mycursor.execute(sql)
myresult = mycursor.fetchall()
end = time.time()
print('Query time: ', end - start)

Query time:  0.04007911682128906

In [112]:
for x in myresult[:10]:
    print(x)

('100022087',)
('100058873',)
('100109393',)
('1001417',)
('100206368',)
('100257222',)
('100297896',)
('100341260',)
('100373116',)
('100414580',)

In [113]:
start = time.time()
sql = "select author_id from authors where author_id not in \
       (select comments.author_id from comments where comments.parent_comment_id != 'None')"
mycursor.execute(sql)
myresult = mycursor.fetchall()
end = time.time()
print('Query time: ', end - start)

Query time:  0.03648018836975098

In [114]:
for x in myresult[:10]:
    print(x)

('1001417',)
('100257222',)
('100414580',)
('100451391',)
('100452342',)
('100496192',)
('100530644',)
('100558369',)
('100754156',)
('100779120',)

In [115]:
start = time.time()
sql = "select author_id, avg(comment_likes) as likes, avg(comment_dislikes) as dislikes from comments \
       group by author_id order by avg(comment_likes) desc"
mycursor.execute(sql)
myresult = mycursor.fetchall()
end = time.time()
print('Query time: ', end - start)

Query time:  0.14802908897399902

In [116]:
for x in myresult[:10]:
    print(x)

('17452698', Decimal('725.0000'), Decimal('0.0000'))
('131413377', Decimal('396.0000'), Decimal('0.0000'))
('110434834', Decimal('229.0000'), Decimal('0.0000'))
('283927074', Decimal('199.0000'), Decimal('1.0000'))
('284417180', Decimal('192.0000'), Decimal('0.0000'))
('243945682', Decimal('184.0000'), Decimal('0.0000'))
('276155630', Decimal('146.7500'), Decimal('0.1250'))
('219318371', Decimal('129.2000'), Decimal('0.0000'))
('255680944', Decimal('128.0000'), Decimal('0.0000'))
('156852461', Decimal('110.0000'), Decimal('0.0000'))

In [93]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="project"
)
mycursor = mydb.cursor()

In [17]:
# Batch execution
num = 20
start = time.time()
for _ in range(num):
    sql = "select author_id from authors where location=''"
    mycursor.execute(sql)
    myresult = mycursor.fetchall()
for _ in range(num):
    sql = "select author_id, location from authors where location in \
        (select location from authors group by location having location != '' and count(*) > 1)"
    mycursor.execute(sql)
    myresult = mycursor.fetchall()
for _ in range(num):
    sql = "select distinct(authors.author_id), comments.message from authors inner join comments on authors.author_id = comments.author_id \
       where comments.message like '%assault%' or comments.message like '%violence%' and comments.message like '%bad%' \
       and authors.author_id != 'Unknown'"
    mycursor.execute(sql)
    myresult = mycursor.fetchall()
for _ in range(num):
    sql = "select authors.author_id, authors.location, comments.message from authors \
        inner join comments on authors.author_id=comments.author_id where comments.message like '%bad%' \
        and authors.location in (select location from authors group by location having location != '' and count(*) > 1)"
    mycursor.execute(sql)
    myresult = mycursor.fetchall()
for _ in range(num):
    sql = "select author_id, count(*) from comments group by author_id order by count(*) desc limit 10"
    mycursor.execute(sql)
    myresult = mycursor.fetchall()
for _ in range(num):
    sql = "select author_id from authors where author_id not in \
       (select comments.author_id from comments where comments.parent_comment_id = 'None')"
    mycursor.execute(sql)
    myresult = mycursor.fetchall()
for _ in range(num):
    sql = "select author_id from authors where author_id not in \
       (select comments.author_id from comments where comments.parent_comment_id != 'None')"
    mycursor.execute(sql)
    myresult = mycursor.fetchall()
for _ in range(num):
    sql = "select author_id, avg(comment_likes) as likes, avg(comment_dislikes) as dislikes from comments \
       group by author_id order by avg(comment_likes) desc"
    mycursor.execute(sql)
    myresult = mycursor.fetchall()
    
end = time.time()
print('Query time: ', end - start)

Query time:  8.63790488243103

In [22]:
sql = "create index location_idx on authors (location)"
mycursor.execute(sql)

In [23]:
start = time.time()

sql = "select authors.author_id, authors.location, comments.message from authors \
        inner join comments on authors.author_id=comments.author_id where comments.message like '%bad%' \
        and authors.location in (select location from authors group by location having location != '' and count(*) > 1)"
mycursor.execute(sql)
myresult = mycursor.fetchall()
end = time.time()
print('Query time: ', end - start)

Query time:  0.08898401260375977